-if  @category.errors.any?
  %ul.errors
    - @category.errors.full_messages.each do |msg|
      %li= msg
      
= form_for @category, url:category_create_path do |f| 
  =f.label :name, "Nome"
  =f.text_field :name
  %br
  =f.label :type_category, "Tipo"
  =f.radio_button :type_category, 'D'
  =f.label :type_category_d, 'Despesa'
  =f.radio_button :type_category, 'R'
  =f.label :type_category_r,'Receita'
  %br 
  =f.label :frequency_id, "Frequência"
  =f.collection_select  :frequency_id, Frequency.all, :id, :name,{ prompt: "Selecione"} 
  %br
  =f.label :date_scheduled, "Data"
  =f.text_field :date_scheduled
  %br
  =f.label :value, "Valor"
  =f.text_field :value
  %br    
  =f.submit "Salvar", class: "btn btn-primary"
