Saldo Atual: <%= @movements.first.balance %>

<table>
  <thead>
    <tr>
      <th>Categoria</th> 
      <th>Valor</th> 
    </tr>
  </thead>
  <tbody>
      <% @movements.each do |m| %>
        
      <% end %>
  </tbody>
</table>
